/*移动边框*/

/*创建新邮件border*/
#Newmail
{
	border:solid 1px #E0DEDE; 
	width: 737px;
	height: 246px;
}
a
{
	color: 7978FF; 
	font-family: 宋体;
	font-size: 16px;
}
.Calligraphy
{
	font-size: 14px;
	font-family: 微软雅黑;
	padding-left:26px; 	
}
.tex_box
{
	width: 500px;	
}
textarea
{
	resize:none;
}
tr td label
{
	font-family:微软雅黑;
	font-size: 12px;
}