/*移动边框*/

/*创建新邮件border*/
#Newmail
{
	border:solid 1px #E0DEDE; 
	width: 737px;
	height: 196px;
}
a
{
	color: #dddddl; 
	font-family: 宋体;
	font-size: 12px;
	text-decoration: none;
	
}
.Calligraphy
{
	font-size: 14px;
	font-family: 微软雅黑;
	padding-left:26px; 	
}

textarea
{
	resize:none;
}
tr td label
{
	font-family:微软雅黑;
	font-size: 12px;
}

