/*A标签更改*/
.Gain
{
	font-family:微软雅黑;
	font-size: 12px;
	color: #0472AB;
}
.Gain:hover
{
	color: #FF0000; 
	text-decoration: none
}
/*30分钟验证码提示*/
.Hint
{
	font-size: 12px;
	color: #FF0000;
}
/*字体样式*/
.Typeface
{
	font-family: 微软雅黑;
	font-size: 12px;
	color: black; 
}
#lblallnum
{
	position:absolute;
	margin: 0px 0px 0px 68px; 
	color: #999999;font-size: 12px;
}
table
{
	border-collapse: collapse;
}
tr
{
    display:block; 
    margin:16px 0;  
}
/*td标签间隔*/
#interval
{
	width:100px;
	padding:5px;
	border:0px solid green;
}
/*移动找密码的内容*/
#RetrPassword_Move
{
	margin-left: 308px;
	margin-top: 130px;
}
#Logo
{
	position: absolute;
	margin-top: -90px;
	margin-left: 130px;
}
#btu_restpwd
{
	position:absolute;
	margin-left: 700px;	
	margin-top: 20px;
}
#btu_restpwd:hover
{
	border:#6CF 1px solid;
	cursor:pointer;
	background-color:#F8F8F8;
}
#btu_secede
{
	position:absolute;
	margin-left: 440px;	
	margin-top: 10px;
}
#btu_secede:hover
{
	border:#6CF 1px solid;
	cursor:pointer;
	background-color:#F8F8F8;
}