<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
	<!--连接MySQL数据库 -->
	<property name="connection.url">jdbc:mysql://localhost:3306/oa</property>
	<property name="connection.username">root</property>
	<property name="connection.password">3306</property>
	<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
	<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

	<!--动态创建数据库和按格式化输出SQL语句-->
	<!-- 根据需要自动创建数据表 -->
	<property name="hbm2ddl.auto">update</property>
	<!-- 显示Hibernate持久化操作所生成的SQL -->
	<property name="show_sql">true</property>
	<!-- 将SQL脚本进行格式化后再输出 -->
	<property name="hibernate.format_sql">true</property>

	<!-- 加载ORM映射文件 -->
	<mapping resource="net/linkcn/oa/orm/Dept.hbm.xml" />
	<mapping resource="net/linkcn/oa/orm/Encrypted.hbm.xml" />
	<mapping resource="net/linkcn/oa/orm/Inboxanddustbin.hbm.xml" />
	<mapping resource="net/linkcn/oa/orm/Outboxanddrafts.hbm.xml" />
	<mapping resource="net/linkcn/oa/orm/User.hbm.xml" />
	<mapping resource="net/linkcn/oa/orm/UserType.hbm.xml" />
	<mapping resource="net/linkcn/oa/orm/Label.hbm.xml" />
	<mapping resource="net/linkcn/oa/orm/Personalbook.hbm.xml" />

</session-factory>
</hibernate-configuration>
